In [1]:
from sklearn import *
import sklearn
import pandas as pd
import numpy as np

/home/watts/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/watts/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/home/watts/anaconda3/lib/python3.6/site-packages/sklearn/lda.py:6: DeprecationWarning: lda.LDA has been moved to discriminant_analysis.LinearDiscriminantAnalysis in 0.17 and will be removed in 0.19
  "in 0.17 and will be removed in 0.19", DeprecationWarning)
/home/watts/anaconda3/lib/python3.6/site-packages/sklearn/learning_curve.py:23: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)
/home/watts/anaconda3/lib/python3.6/site-packages/sklearn/qda.py:6: DeprecationWarning: qda.QDA has been moved to discriminant_analysis.QuadraticDiscriminantAnalysis in 0.17 and will be removed in 0.19.
  "in 0.17 and will be removed in 0.19.", DeprecationWarning)

In [2]:
train = pd.read_csv('../data/training_variants')
test = pd.read_csv('../data/test_variants')
trainx = pd.read_csv('../data/training_text', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])
testx = pd.read_csv('../data/test_text', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])

In [3]:
train = pd.merge(train, trainx, how='left', on='ID').fillna('')
y = train['Class'].values
#train = train.drop(['Class'], axis=1)

test = pd.merge(test, testx, how='left', on='ID').fillna('')
#pid = test['ID'].values

In [4]:
train.head()

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating Mutations,1,Cyclin-dependent kinases (CDKs) regulate a var...
1,1,CBL,W802*,2,Abstract Background Non-small cell lung canc...
2,2,CBL,Q249E,2,Abstract Background Non-small cell lung canc...
3,3,CBL,N454D,3,Recent evidence has demonstrated that acquired...
4,4,CBL,L399V,4,Oncogenic mutations in the monomeric Casitas B...

In [5]:
test.head()

   ID     Gene Variation                                               Text
0   0    ACSL4     R570S  2. This mutation resulted in a myeloproliferat...
1   1    NAGLU     P521L   Abstract The Large Tumor Suppressor 1 (LATS1)...
2   2      PAH     L333F  Vascular endothelial growth factor receptor (V...
3   3     ING1     A148D  Inflammatory myofibroblastic tumor (IMT) is a ...
4   4  TMEM216      G77A   Abstract Retinoblastoma is a pediatric retina...

In [6]:
train.shape

(3321, 5)

In [7]:
test.shape

(5668, 4)

In [8]:
train.Class.value_counts()

7    953
4    686
1    568
2    452
6    275
5    242
3     89
9     37
8     19
Name: Class, dtype: int64

In [11]:
len(np.unique(train.Gene))

264

In [12]:
len(set(train.Gene) - set(test.Gene))

110

In [13]:
len(set(test.Gene) - set(train.Gene))

1243

In [14]:
len(set(train.Variation) - set(test.Variation))

2981

In [15]:
len(set(test.Variation) - set(train.Variation))

5613

In [16]:
train.isnull().sum()

ID           0
Gene         0
Variation    0
Class        0
Text         0
dtype: int64

In [17]:
test.isnull().sum()

ID           0
Gene         0
Variation    0
Text         0
dtype: int64

In [18]:
train['GL'] = train['Gene'].apply(lambda x: len(x))

In [19]:
train['GL'].value_counts()

4    1276
5    1073
6     500
3     420
7      31
2      20
8       1
Name: GL, dtype: int64

In [20]:
train['VL'] = train['Variation'].apply(lambda x: len(x))

In [21]:
train['VL'].value_counts()

5     1647
6      569
4      434
20     104
8       88
12      76
13      76
16      62
7       61
17      39
18      37
19      22
15      22
14      17
3       13
11      12
10      11
21       6
22       4
28       3
9        3
23       2
26       2
25       2
37       1
33       1
40       1
34       1
36       1
31       1
39       1
29       1
55       1
Name: VL, dtype: int64