In [76]:
import pandas as pd
import numpy as np
import feather
from imblearn.over_sampling import SMOTE
from sklearn import preprocessing as pe
from tqdm import tqdm
import pickle

In [3]:
train_stage1 = pd.read_csv('../data/training_variants')
test_stage1 = pd.read_csv('../data/test_variants')
trainx_stage1 = pd.read_csv('../data/training_text', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])
testx_stage1 = pd.read_csv('../data/test_text', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])

In [4]:
test_stage1_soln = pd.read_csv('../data/stage1_solution_filtered.csv')

In [5]:
test_stage1_soln.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0  12       1       0       0       0       0       0       0       0       0
1  19       0       1       0       0       0       0       0       0       0
2  21       0       1       0       0       0       0       0       0       0
3  55       0       0       0       1       0       0       0       0       0
4  64       0       0       0       1       0       0       0       0       0

In [6]:
stage1_soln_ids = test_stage1_soln['ID']

In [7]:
test_stage1_soln = test_stage1_soln.drop('ID',axis=1)

In [8]:
test_stage1_soln.shape

(368, 9)

In [9]:
test_stage1_soln['class'] = test_stage1_soln.idxmax(axis=1)

In [10]:
test_stage1_soln['class'] = test_stage1_soln['class'].map(lambda x: int(x[-1]))

In [11]:
test_stage1_soln['ID'] = stage1_soln_ids

In [12]:
# test_s1_sol['class'] = test_s1_sol.idxmax(axis=1)
# test_s1_sol['class'] = test_s1_sol['class'].str[-1].astype(int)
# test_s1_sol['class'] = test_s1_sol['class']

In [13]:
test_stage1_soln.tail()

,class1,class2,class3,class4,class5,class6,class7,class8,class9,class,ID
363,0,0,0,1,0,0,0,0,0,4,5600
364,0,0,0,1,0,0,0,0,0,4,5609
365,0,0,0,0,0,1,0,0,0,6,5626
366,0,0,0,1,0,0,0,0,0,4,5628
367,1,0,0,0,0,0,0,0,0,1,5650

In [14]:
test_stage1_soln.head()

,class1,class2,class3,class4,class5,class6,class7,class8,class9,class,ID
0,1,0,0,0,0,0,0,0,0,1,12
1,0,1,0,0,0,0,0,0,0,2,19
2,0,1,0,0,0,0,0,0,0,2,21
3,0,0,0,1,0,0,0,0,0,4,55
4,0,0,0,1,0,0,0,0,0,4,64

In [15]:
train_stage1.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [16]:
train_stage1 = pd.merge(train_stage1, trainx_stage1, how='left', on='ID').fillna('')
test_stage1 = pd.merge(test_stage1, testx_stage1, how='left', on='ID').fillna('')
#pid = test['ID'].values

In [17]:
train_stage1.head()

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating Mutations,1,Cyclin-dependent kinases (CDKs) regulate a var...
1,1,CBL,W802*,2,Abstract Background Non-small cell lung canc...
2,2,CBL,Q249E,2,Abstract Background Non-small cell lung canc...
3,3,CBL,N454D,3,Recent evidence has demonstrated that acquired...
4,4,CBL,L399V,4,Oncogenic mutations in the monomeric Casitas B...

In [18]:
test_stage1.head()

   ID     Gene Variation                                               Text
0   0    ACSL4     R570S  2. This mutation resulted in a myeloproliferat...
1   1    NAGLU     P521L   Abstract The Large Tumor Suppressor 1 (LATS1)...
2   2      PAH     L333F  Vascular endothelial growth factor receptor (V...
3   3     ING1     A148D  Inflammatory myofibroblastic tumor (IMT) is a ...
4   4  TMEM216      G77A   Abstract Retinoblastoma is a pediatric retina...

In [19]:
train_stage1.shape

(3321, 5)

In [20]:
test_stage1.shape

(5668, 4)

In [21]:
train_stage1.tail()

,ID,Gene,Variation,Class,Text
3316,3316,RUNX1,D171N,4,Introduction Myelodysplastic syndromes (MDS) ...
3317,3317,RUNX1,A122*,1,Introduction Myelodysplastic syndromes (MDS) ...
3318,3318,RUNX1,Fusions,1,The Runt-related transcription factor 1 gene (...
3319,3319,RUNX1,R80C,4,The RUNX1/AML1 gene is the most frequent targe...
3320,3320,RUNX1,K83E,4,The most frequent mutations associated with le...

In [22]:
new_test = test_stage1[test_stage1.ID.isin(stage1_soln_ids)]

In [23]:
new_test.head()

    ID   Gene Variation                                               Text
12  12   TET2    Y1902A  TET proteins oxidize 5-methylcytosine (5mC) on...
19  19   MTOR    D2512H  Genes encoding components of the PI3K-Akt-mTOR...
21  21    KIT      D52N  Myeloproliferative disorders (MPD) constitute ...
55  55   SPOP     F125V  In the largest E3 ligase subfamily, Cul3 binds...
64  64  KEAP1      C23Y  Keap1 is the substrate recognition module of a...

In [24]:
new_test = new_test.drop('ID',axis=1)

In [25]:
new_test_ids = [i for i in range(3321, 3321+new_test.shape[0])]

In [26]:
len(new_test_ids)

368

In [27]:
new_test['ID'] = new_test_ids

In [28]:
test_stage1_soln.head()

,class1,class2,class3,class4,class5,class6,class7,class8,class9,class,ID
0,1,0,0,0,0,0,0,0,0,1,12
1,0,1,0,0,0,0,0,0,0,2,19
2,0,1,0,0,0,0,0,0,0,2,21
3,0,0,0,1,0,0,0,0,0,4,55
4,0,0,0,1,0,0,0,0,0,4,64

In [29]:
new_test.shape

(368, 4)

In [30]:
test_stage1_soln.shape

(368, 11)

In [31]:
new_test['Class'] = test_stage1_soln['class'].values

In [32]:
new_test.shape

(368, 5)

In [33]:
new_test.head()

,Gene,Variation,Text,ID,Class
12,TET2,Y1902A,TET proteins oxidize 5-methylcytosine (5mC) on...,3321,1
19,MTOR,D2512H,Genes encoding components of the PI3K-Akt-mTOR...,3322,2
21,KIT,D52N,Myeloproliferative disorders (MPD) constitute ...,3323,2
55,SPOP,F125V,"In the largest E3 ligase subfamily, Cul3 binds...",3324,4
64,KEAP1,C23Y,Keap1 is the substrate recognition module of a...,3325,4

In [34]:
new_test.tail()

,Gene,Variation,Text,ID,Class
5600,MAP2K4,S251N,The systematic characterization of somatic mut...,3684,4
5609,VHL,N90I,The von Hippel-Lindau tumor suppressor protein...,3685,4
5626,MAP2K1,H119P,Genetic alterations that activate the mitogen-...,3686,6
5628,ATM,V2424G,Abstract The functional consequences of misse...,3687,4
5650,TP53,G245C,The transcription factor and tumor suppressor ...,3688,1

In [35]:
train_stage1.head()

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating Mutations,1,Cyclin-dependent kinases (CDKs) regulate a var...
1,1,CBL,W802*,2,Abstract Background Non-small cell lung canc...
2,2,CBL,Q249E,2,Abstract Background Non-small cell lung canc...
3,3,CBL,N454D,3,Recent evidence has demonstrated that acquired...
4,4,CBL,L399V,4,Oncogenic mutations in the monomeric Casitas B...

In [36]:
train_stage1.Class.value_counts()

7    953
4    686
1    568
2    452
6    275
5    242
3     89
9     37
8     19
Name: Class, dtype: int64

In [37]:
train_stage1.shape

(3321, 5)

In [38]:
train_stage2 = pd.concat([train_stage1, new_test], axis=0)

In [ ]:
# this is a text mining problem. delete rows where text is not present
#

In [39]:
train_stage2.shape

(3689, 5)

In [48]:
train_stage2['TL'] = train_stage2['Text'].map(lambda x: len(x))

In [51]:
min(train_stage2['TL'])

4

In [52]:
max(train_stage2['TL'])

523393

In [55]:
train_stage2 = train_stage2[train_stage2['TL'] > 4]

In [56]:
train_stage2.shape

(3683, 6)

In [57]:
pd.value_counts(train_stage2.TL)

42789     59
50070     52
42859     48
35403     35
34409     35
43019     29
26803     27
28722     25
22651     24
36711     21
58319     19
52492     17
26713     16
65971     16
40090     16
46287     14
46698     13
55326     13
27153     13
26913     13
78356     12
85023     12
49607     12
171892    12
65063     12
29948     12
25919     11
40773     11
37786     11
35322     10
          ..
138446     1
108728     1
63674      1
131263     1
112794     1
37017      1
83421      1
54008      1
349679     1
149620     1
125046     1
91882      1
52718      1
419966     1
102527     1
2176       1
78333      1
125060     1
99821      1
70909      1
34954      1
99182      1
84108      1
185833     1
75233      1
105950     1
259010     1
61589      1
88214      1
98304      1
Name: TL, Length: 2075, dtype: int64

In [58]:
min(train_stage2['TL'])

337

In [59]:
train_stage2[train_stage2['TL'] == 337]

,Class,Gene,ID,Text,Variation,TL
1613,4,VHL,1613,The case of a 40-year-old woman with severe ed...,L158Q,337

In [60]:
train_stage2.head()

,Class,Gene,ID,Text,Variation,TL
0,1,FAM58A,0,Cyclin-dependent kinases (CDKs) regulate a var...,Truncating Mutations,39672
1,2,CBL,1,Abstract Background Non-small cell lung canc...,W802*,36691
2,2,CBL,2,Abstract Background Non-small cell lung canc...,Q249E,36691
3,3,CBL,3,Recent evidence has demonstrated that acquired...,N454D,36238
4,4,CBL,4,Oncogenic mutations in the monomeric Casitas B...,L399V,41308

In [61]:
train_stage2.tail()

,Class,Gene,ID,Text,Variation,TL
5600,4,MAP2K4,3684,The systematic characterization of somatic mut...,S251N,53189
5609,4,VHL,3685,The von Hippel-Lindau tumor suppressor protein...,N90I,48256
5626,6,MAP2K1,3686,Genetic alterations that activate the mitogen-...,H119P,24485
5628,4,ATM,3687,Abstract The functional consequences of misse...,V2424G,74364
5650,1,TP53,3688,The transcription factor and tumor suppressor ...,G245C,27913

In [62]:
len(train_stage2.ID.unique())

3683

In [63]:
train_stage2.shape

(3683, 6)

In [64]:
train_stage2.Class.value_counts()

7    1053
4     751
1     660
2     497
6     295
5     267
3      96
9      43
8      21
Name: Class, dtype: int64

In [67]:
len(train_stage2.ID.unique())

3683

In [70]:
train_stage2 = train_stage2.drop('TL', axis=1)

In [72]:
train_stage2.reset_index(inplace=True)

In [73]:
feather.write_dataframe(train_stage2, '../cache/train_stage2.feather')

In [45]:
train_stage2 = feather.read_dataframe('../cache/train_stage2.feather')

In [46]:
train_stage2.Class.value_counts()

7    1054
4     751
1     662
2     498
6     297
5     267
3      96
9      43
8      21
Name: Class, dtype: int64

In [47]:
y_class = train_stage2.Class.values

In [48]:
# from imblearn.over_sampling import RandomOverSampler

In [49]:
train_stage2.ID[train_stage2['Class'] == 8]

121      121
220      220
306      306
307      307
308      308
750      750
1344    1344
1352    1352
1756    1756
1768    1768
1770    1770
1825    1825
2274    2274
2275    2275
2277    2277
2278    2278
2385    2385
3109    3109
3114    3114
3514    3514
3548    3548
Name: ID, dtype: int64

In [50]:
train_stage2[train_stage2.ID == 121]

,Class,Gene,ID,Text,Variation
121,8,SF3B1,121,The RNA maturation is an important and complex...,K700R

In [51]:
# sampler = RandomOverSampler()
# X_res, y_res = sampler.fit_sample(ts_2, y_class)

In [52]:
train_stage2 = train_stage2.drop('ID', axis=1)

In [53]:
max_rows = 1054 # chosen because class 7 has 955 rows in stage2 train set

In [54]:
s = train_stage2.Class.value_counts()

In [55]:
num_classes = 9
rows_to_append = []
ids = {}
for i in tqdm(range(1, num_classes+1)):
    class_rows = max_rows - s[i]
    rows_to_append.append(class_rows)
    ids[i] = train_stage2.index[train_stage2['Class'] == i]

100%|| 9/9 [00:00<00:00, 2854.99it/s]

In [56]:
rows_to_append

[392, 556, 958, 303, 787, 757, 0, 1033, 1011]

In [57]:
import math

In [58]:
for i in tqdm(range(len(rows_to_append))):
    if rows_to_append[i] > 0:
        to_append = train_stage2.index.isin(ids[i+1])
#         print(to_append)
        n = to_append[to_append==True].sum()
        if n > rows_to_append[i]:
            m = rows_to_append[i]
            df = train_stage2.loc[to_append].copy()
            df = df[0:m-1]
            train_stage2 = pd.concat([train_stage2, df],axis=0)
        else:
            m = math.floor(rows_to_append[i]/n)
            for j in range(m):
                df = train_stage2.loc[to_append].copy()
                train_stage2 = pd.concat([train_stage2, df],axis=0)
            
        #df_to_append = train_stage2.loc[to_append].copy()
        #train_stage2 = pd.concat([train_stage2,df_to_append],axis=0)

100%|| 9/9 [00:00<00:00, 55.34it/s]

In [59]:
train_stage2.Class.value_counts()

7    1054
4    1053
1    1053
8    1050
9    1032
2     996
3     960
6     891
5     801
Name: Class, dtype: int64

In [60]:
train_stage2.shape

(8890, 4)

In [61]:
train_stage2.head()

,Class,Gene,Text,Variation
0,1,FAM58A,Cyclin-dependent kinases (CDKs) regulate a var...,Truncating Mutations
1,2,CBL,Abstract Background Non-small cell lung canc...,W802*
2,2,CBL,Abstract Background Non-small cell lung canc...,Q249E
3,3,CBL,Recent evidence has demonstrated that acquired...,N454D
4,4,CBL,Oncogenic mutations in the monomeric Casitas B...,L399V

In [62]:
train_stage2.Class.value_counts()

7    1054
4    1053
1    1053
8    1050
9    1032
2     996
3     960
6     891
5     801
Name: Class, dtype: int64

In [63]:
feather.write_dataframe(train_stage2, '../cache/train_stage2_os.feather')

In [64]:
test_stage2 = pd.read_csv('../data/stage2_test_variants.csv')
testx_stage2 = pd.read_csv('../data/stage2_test_text.csv', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])

In [65]:
test_stage2.head()

   ID    Gene             Variation
0   1   CHEK2                 H371Y
1   2   AXIN2  Truncating Mutations
2   3    WNT4                 E216G
3   4  SUCLA2                 G118R
4   5    BRAF             T599insTT

In [66]:
testx_stage2.head()

   ID                                               Text
0   1  The incidence of breast cancer is increasing i...
1   2  An unselected series of 310 colorectal carcino...
2   3  Mycosis fungoides and Szary syndrome are prim...
3   4   Regulated progression through the cell cycle ...
4   5  Pilocytic astrocytoma (PA) is emerging as a tu...

In [67]:
test = pd.merge(test_stage2, testx_stage2, how='left', on='ID').fillna('')

In [68]:
test.head()

,ID,Gene,Variation,Text
0,1,CHEK2,H371Y,The incidence of breast cancer is increasing i...
1,2,AXIN2,Truncating Mutations,An unselected series of 310 colorectal carcino...
2,3,WNT4,E216G,Mycosis fungoides and Szary syndrome are prim...
3,4,SUCLA2,G118R,Regulated progression through the cell cycle ...
4,5,BRAF,T599insTT,Pilocytic astrocytoma (PA) is emerging as a tu...

In [69]:
test.shape

(986, 4)

In [70]:
len(set(test.Gene) -set(train_stage2.Gene))

132

In [71]:
len(set(test.Variation) -set(train_stage2.Variation))

612

In [72]:
feather.write_dataframe(test, '../cache/test_stage2.feather')

In [168]:
train_rsid = {}

In [169]:
with open('../cache/train_rsid.pkl', 'rb') as f:
    train_rsid = pickle.load(f)

In [170]:
train_rsid[0]

{'RS#:768583659'}

In [171]:
id_list = []
rsid_list = []
for i in tqdm(range(len(train_rsid))):
    for rsid in train_rsid[i]:
        id_list.append(i)
        rsid_list.append(rsid)

100%|| 3683/3683 [00:00<00:00, 225062.60it/s]

In [ ]:
# train_id_list1 = []
# train_rsid_list1 = []
# for i in tqdm(range(len(train_rsid))):
#     l = []
#     train_id_list1.append(i)
#     for rsid in train_rsid[i]:
#             l.append(rsid)
#     if len(l) > 0:
#         el = random.choice(l)
#         test_rsid_list1.append(el)
#     else:
#         test_rsid_list1.append('None')

In [172]:
df = pd.DataFrame()

In [173]:
df['ID'] = id_list
df['rsid'] = rsid_list

In [174]:
df.head()

   ID           rsid
0   0  RS#:768583659
1   1  RS#:387906664
2   1    RS#:2227988
3   1  RS#:538190997
4   1  RS#:121434568

In [175]:
train_stage2 = feather.read_dataframe('../cache/train_stage2.feather')

In [176]:
train_stage2.shape

(3683, 6)

In [177]:
train_stage2.isnull().sum()

index        0
Class        0
Gene         0
ID           0
Text         0
Variation    0
dtype: int64

In [178]:
train1_stage2 = pd.merge(train_stage2, df, how='left', on='ID')

In [179]:
train1_stage2.shape

(22044, 7)

In [180]:
train1_stage2.isnull().sum()

index           0
Class           0
Gene            0
ID              0
Text            0
Variation       0
rsid         1481
dtype: int64

In [181]:
train1_stage2.fillna('None', inplace=True)

In [182]:
train1_stage2.isnull().sum()

index        0
Class        0
Gene         0
ID           0
Text         0
Variation    0
rsid         0
dtype: int64

In [183]:
feather.write_dataframe(train1_stage2, '../cache/train1_stage2.feather')

In [184]:
# now test_rsid

In [185]:
test_rsid = {}
with open('../cache/test_rsid.pkl', 'rb') as f:
    test_rsid = pickle.load(f)

In [186]:
len(test_rsid)

986

In [187]:
test_rsid[0]

set()

In [188]:
test_id_list = []
test_rsid_list = []
for i in tqdm(range(len(test_rsid))):
    for rsid in test_rsid[i]:
        test_id_list.append(i)
        test_rsid_list.append(rsid)

100%|| 986/986 [00:00<00:00, 236738.44it/s]

In [189]:
len(test_rsid_list)

4296

In [190]:
len(rsid_list)

20567

In [191]:
len(set(test_rsid_list) - set(rsid_list))

374

In [192]:
df = pd.DataFrame()
df['ID'] = test_id_list
df['rsid'] = test_rsid_list
df['ID'] = df['ID'].apply(lambda x: x+1)

In [193]:
df.head()

   ID           rsid
0   2  RS#:749846538
1   2  RS#:139209450
2   2  RS#:121908567
3   4  RS#:121909646
4   4  RS#:371769427

In [194]:
df.shape

(4296, 2)

In [195]:
df_compat = df[df.rsid.isin(rsid_list)]

In [196]:
df_compat.shape

(3868, 2)

In [197]:
df_compat.head()

   ID           rsid
0   2  RS#:749846538
1   2  RS#:139209450
2   2  RS#:121908567
3   4  RS#:121909646
4   4  RS#:371769427

In [198]:
len(np.unique(df_compat['ID']))

505

In [199]:
pd.value_counts(df_compat['ID'])

291    52
385    46
283    44
762    33
901    31
376    31
194    31
312    30
196    30
827    30
139    30
420    30
223    30
57     30
219    28
830    26
187    24
737    24
887    24
784    24
265    24
953    24
942    24
333    24
52     24
459    23
497    22
785    22
816    22
268    22
       ..
506     1
617     1
607     1
424     1
462     1
342     1
431     1
253     1
753     1
825     1
823     1
809     1
748     1
746     1
301     1
230     1
329     1
765     1
725     1
387     1
276     1
698     1
717     1
674     1
302     1
703     1
693     1
351     1
691     1
960     1
Name: ID, Length: 505, dtype: int64

In [200]:
len(test_rsid)

986

In [201]:
test_id_list1 = []
test_rsid_list1 = []
for i in tqdm(range(len(test_rsid))):
    l = []
    test_id_list1.append(i+1)
    for rsid in test_rsid[i]:
        if rsid in rsid_list:
            l.append(rsid)
    if len(l) > 0:
        el = random.choice(l)
        test_rsid_list1.append(el)
    else:
        test_rsid_list1.append('None')

100%|| 986/986 [00:00<00:00, 1123.02it/s]

In [202]:
len(test_id_list1)

986

In [203]:
len(test_rsid_list1)

986

In [204]:
df = pd.DataFrame()
df['ID'] = test_id_list1
df['rsid'] = test_rsid_list1

In [205]:
df.head()

   ID           rsid
0   1           None
1   2  RS#:749846538
2   3           None
3   4  RS#:371769427
4   5  RS#:113488022

In [206]:
df.shape

(986, 2)

In [207]:
len(df.ID.unique())

986

In [208]:
test_stage2 = feather.read_dataframe('../cache/test_stage2.feather')

In [209]:
test_stage2.shape

(986, 4)

In [210]:
test_stage2.tail()

      ID   Gene Variation                                               Text
981  982   TP63     S580P  IB kinase  (IKK) is involved in tumor devel...
982  983  SCN4A     R672G  he identification of subtype-specific transloc...
983  984   BRAF     N581H  Cardio-facio-cutaneous (CFC) syndrome (MIM 115...
984  985   TSHR     S281N  Screening for tumor suppressor genes in breast...
985  986   ASS1     S180N  Histiocytic neoplasms are clonal, hematopoieti...

In [211]:
df.tail()

      ID  rsid
981  982  None
982  983  None
983  984  None
984  985  None
985  986  None

In [212]:
test_stage2['rsid'] = df['rsid'].values

In [213]:
test_stage2.head()

,ID,Gene,Variation,Text,rsid
0,1,CHEK2,H371Y,The incidence of breast cancer is increasing i...,None
1,2,AXIN2,Truncating Mutations,An unselected series of 310 colorectal carcino...,RS#:749846538
2,3,WNT4,E216G,Mycosis fungoides and Szary syndrome are prim...,None
3,4,SUCLA2,G118R,Regulated progression through the cell cycle ...,RS#:371769427
4,5,BRAF,T599insTT,Pilocytic astrocytoma (PA) is emerging as a tu...,RS#:113488022

In [215]:
test_stage2.loc[0].Text

"The incidence of breast cancer is increasing in China in recent decades, and familial breast cancer accounts for 510% of the total patients in Chinese women. Germline mutations in breast cancer susceptibility genes, BRCA1(MIM 113705) and BRCA2(MIM 600185), are responsible for only approximately 10% of Chinese breast cancer families [Liede and Narod, 2002]; other breast cancer susceptibility genes related to Chinese breast cancer families therefore remain to be identified.  CHEK2 (Cell-cycle-checkpoint kinase 2, also known as CHK2; MIM 604373, NM_007194.3) is located on chromosome 22q and encodes a multifunctional kinase that plays an important role in cell cycle regulation, apoptosis, and DNA repair [Bartek et al., 2001]. The CHEK2 gene contains three distinct functional domains, the SQ/TQ-rich domain (residues 1969), the forkhead-associated domain (residues 115165), and the Serine/threonine kinase domain (residues 225490) [Bartek et al., 2001]. CHEK2 is activated by the ataxia-telangiectasia mutated (ATM; MIM 607585) protein in response to DNA damage. Phosphorylation at T68 in the SQ/TQ-rich domain of CHEK2 is likely to be an initiating event and it is a prerequisite for the subsequent activation step, which is followed by autophosphorylation of CHEK2 on residues T383 and T387 in the activation loop of the kinase domain [Bartek et al., 2001].  A previous study has demonstrated that CHEK2 is a moderate breast cancer susceptibility gene [Meijers-Heijboer et al., 2002]. A recurrent mutation, c.1100delC, which abolishes the kinase function of CHEK2, confers a twofold increased breast cancer risk in European women [Meijers-Heijboer et al., 2002; Weischer et al., 2008]. The germline mutations in CHEK2 gene have not been comprehensively investigated in Chinese women. A few studies with small sample sizes (less than 120 cases) screened mutations in exon 10 of CHEK2 in Chinese women with familial or early-onset breast cancer, the CHEK2 c.1100delC was not found in these studies [Chen et al., 2008; Song et al., 2006]. These preliminary studies suggest that, on account of the apparent low frequency of the CHEK2 c.1100delC in the Chinese women, little of the genetic risk of breast cancer in Chinese women is likely to be attributable to the CHEK2 c.1100delC mutation.  In the present study, we first screened the entire coding regions and exonintron boundaries of CHEK2 in 118 Chinese women with familial breast cancer who do not carry mutations in BRCA1 and BRCA2 from northern China. A recurrent variant c.1111C>T (p.H371Y) in exon 10 of CHEK2 was identified in this cohort, and functional analysis suggested that the p.H371Y was a pathogenic mutation. We therefore further detected this mutation in 909 unselected breast cancer cases and 1228 healthy women. Our aim was to investigate whether CHEK2 p.H371Y mutation was associated with breast cancer risk in Chinese women.  Breast cancer patients were from the Breast Center, Peking University Cancer Hospital, from October 2003 to January 2007. Familial breast cancer was defined as at least two or more breast cancers in first- or second-degree relatives who were diagnosed prior to age 60 years. One hundred eighteen familial breast cancer cases were from 112 unrelated families; 909 unselected breast cancer cases were selected without consideration of cancer history. One thousand two hundred twenty-eight healthy women served as the controls. In our study both the cases and controls are Chinese women with Han nationality and reside in north China. Peripheral blood samples were collected from the patients and controls after written informed consent was obtained. This study was approved by the Research and Ethical Committee of Peking University Cancer Hospital.  Genomic DNA was extracted from leukocyte pellet by proteinase K digestion followed by phenol-chloroform extraction. Germline mutations in the entire coding regions and exonintron boundaries of CHEK2 in 118 familial breast cancer patients without mutations in BRCA1 and BRCA2 were detected by polymerase chain reaction (PCR), followed by denaturing high-performance liquid chromatography (DHPLC) and sequencing. The CHEK2 gene was amplified using 14 sets of primers described elsewhere [Baysal et al., 2004; Dufault et al., 2004]. Because exon 10 of CHEK2 is present in multiple homologous copies in the genome, nested PCR procedure was performed to avoid amplification of pseudogene sequences [Sodha et al., 2000]. The p.H371Y mutant CHEK2 was generated using mutagenesis kit from Stratagene (La Jolla, CA) according to the manufacturer's instruction. Transfection, immunoblotting analysis, and in vitro kinase assay were performed essentially as described previously [Xu et al., 2002]. (The detailed methods are described in the Supp. Methods.)  In total, we detected six germline sequence alterations in CHEK2 in the 118 familial breast cancer cases (Supp. Table S1). Among them, c.1608A>G (p.P536P, rs17886242) and c.252A>G (p.E84E) have been reported previously and are likely to be neutral polymorphisms with no elevated risk of breast cancer [Bell et al., 1999; Schutte et al., 2003]. One case carried a novel synonymous c.1491T>C (p.D497D) variant not likely to be associated with disease; a c.538C>T (p.R180C) variant in exon 3 was found in one case; a previous study showed that the p.R180C variant is more abundant in the breast cancer cases than in the controls in Caucasian populations, but the difference does not reach a significance [Dufault et al., 2004]; c.13361338 del AAC in exon 11 results in p.N446del. This mutation is novel and was found in one case (Supp. Table S1). In addition, a recurrent variant c.1111C>T (p.H371Y) in exon 10 was found in five index cases (5/118, 4.24%) in this cohort (Supp. Fig. S1A and B and Supp. Table S1). Bioinformatic analysis suggested that the p.H371Y is likely to alter CHEK2 function, whereas p.N446del is unclassified (Supp. Fig. S1C). p.H371Y is within the activation loop of the kinase domain of the CHEK2 protein (Fig. 1A), and it was enriched in Chinese familial breast cancer cases without mutations in BRCA1 and BRCA2. The p.H371Y mutation is therefore highly interesting, and it may compromise the CHEK2 kinase activity.  Figure 1.  Figure 1.  Open in figure viewer Functional analysis of the CHEK2 p.H371Y mutation. A: Schematic diagram of the protein showing predicted functional domains and the site of the p.H371Y mutation. B: T68 phosphorylation of CHEK2 p.H371Y was weaker than that of wild-type CHEK2, kinase-defective mutant p.D347A serves as a negative control. C: Both autophosphorylation and transphosphorylation were impaired in p.H371Y. D: T68 phosphorylation of p.H371Y was compromised in response to DNA damage. U2OS cells stably transfected with HA-CHEK2, HA-CHEK2 p.H371Y, or a control vector were treated with ADM or ETO for 2\u2009hr. To investigate whether the CHEK2 p.H371Y mutation influenced the efficacy of CHEK2 in response to DNA damage, we therefore first examined the phosphorylation of T68 in wild-type CHEK2 and p.H371Y mutant CHEK2 in an in vitro kinase assay using GST fusion proteins. A previously described kinase-defective mutant CHEK2 p.D347A serves as a negative control. CHEK2 T68 phosphorylation was detected by a phospho-specific antibody in wild-type CHEK2, but not in kinase-defective mutant CHEK2 p.D347A, whereas the p.H371Y mutant had only weak phosphorylation on T68 (Fig. 1B). We then examined CHEK2 autophosphorylation and activation using in vitro kinase assays with 32P-ATP. Kinase-defective CHEK2 p.D347A did not have any autophosphorylation activity or enzymatic activity against its substrate, CDC25C (MIM 157680). The activity of autophosphorylation and transphosphorylation activity of the p.H371Y mutant CHEK2 was decreased by approximately 50% compared with the wild-type CHEK2 (Fig. 1C). Finally, we determined the phosphorylation status of T68 in response to adriamycin (ADM)- and etoposide (ETO)-induced DNA damage. U2OS cells were stably transfected with wild-type CHEK2, p.H371Y mutant, or a mock vector. Transfectants were exposed to the DNA damaging agent ADM or ETO for 2\u2009hr. T68 phosphorylation of the p.H371Y mutant in response to ADM or ETO treatment was obviously reduced compared with wild-type CHEK2 (Fig. 1D). Taken together, the p.H371Y mutation partially reduces both phosphorylation of CHEK2 at the T68 site and CHEK2 kinase activity.  Functional analysis suggested that p.H371Y is likely to be pathogenic, so we therefore screened exon 10 of CHEK2 for mutations in 909 unselected breast cancer patients and 1228 healthy controls, the p.H371Y mutation was found in 16 of 909 unselected breast cancer cases and 9 of 1228 controls (Table 1). The frequencies of the p.H371Y in familial and unselected breast cancer patients and controls were 4.24%, 1.76%, and 0.73%, respectively (Table 1). Compared with controls, familial breast cancer cases that carried p.H371Y mutation had a nearly sixfold of relative risk to development of breast cancer (odds ratio [OR] 5.99, 95% confidence interval [CI] 1.9818.19, P = 0.002) (Table 1). Furthermore, a significantly increased risk of breast cancer in unselected cases that carried the p.H371Y mutation was observed (OR 2.43, 95% CI 1.075.52, P = 0.034) (Table 1).  Table 1. Association of the p.H371Y and p.N446del Mutations of CHEK2 with Breast Cancer Risk Variant\tTotal, n\tFrequency, n (%)\tOR (95% CI)\tP OR, odds ratio; CI, confidence interval. p.H371Y  Controls\t1,228\t9 (0.73)\t1.0 (ref.)\t   Familial cases\t118\t5 (4.24)\t5.99 (1.9818.19)\t0.002  Unselected cases\t909\t16 (1.76)\t2.43 (1.075.52)\t0.034 p.N446del  Controls\t500\t0\t\t   Familial cases\t118\t1\t\t0.191  Unselected cases\t481\t0\t\t We also screened the CHEK2 p.N446del in 481 unselected breast cancer cases and 500 healthy individuals. No p.N446del was found in these subjects, suggesting CHEK2 p.N446del is a rare mutation in Chinese women (Table 1).  The median age at diagnosis of familial breast cancer cases that carried the CHEK2 p.H371Y mutation was 41 years compared to 49 years in noncarriers in the cohort of 118 cases. p.H371Y mutation carriers tended to be diagnosed at an earlier age than did noncarriers, but the difference did not reach a significance (P = 0.42).  Segregation analysis of the CHEK2 p.H371Y mutation was tested in two of the families but was not sufficiently informative to draw meaningful conclusion because of a lack of DNA samples from suitable family members (Supp. Fig. S2A and B). In the remaining three families, the analysis was restricted only to the index individual who initially displayed the p.H371Y mutation (data not shown).  To test whether loss of heterozygosity (LOH) of CHEK2 (deletion of the wild-type allele) had occurred in the tumors of the five familial breast cancer cases that carried the heterozygous p.H371Y mutation, genomic DNA extracted from blood cells and tumor tissues from the four cases was analyzed. The existence of the p.H371Y mutation was confirmed in all tumors, whereas no reproducible evidence of LOH was ever observed.  We have demonstrated that p.H371Y, a recurrent missense mutation in CHEK2, is associated with an increased breast cancer risk in Chinese women. The p.H371Y amino acid change is within the activation loop of the CHEK2 kinase domain, which is essential for activation of CHEK2 in response to DNA damage [Cai et al., 2009]. Our in vitro experimental studies indicated that the p.H371Y mutation resulted in decreased kinase activity of CHEK2 by at least 50% compared with wild-type CHEK2; this mutation may therefore encodes protein with attenuated, rather than complete loss of function. Furthermore, LOH was not involved in p.H371Y mutation-associated tumorigenesis in the present study. These results suggested that CHEK2 p.H371Y-associated tumorigenesis may be through CHEK2 haploinsufficiency, which supports the notion that missense mutation with partial loss of function may contribute to tumorigenesis via haploinsufficiency [Sodha et al., 2006].  In this study, the CHEK2 p.H371Y mutation was found in 4.24% of familial breast cancer cases that are negative for BRCA1/2 mutations, compared with its frequency of 0.73% in the healthy controls, indicating that it confers an increased risk of breast cancer. In addition, the low frequency of CHEK2 p.H371Y mutation in unselected cases (1.76%) suggested that the risk of breast cancer conferred by this mutation is modest. The increased breast cancer risk conferred by CHEK2 p.H371Y is similar to that of CHEK2 c.1100delC in other populations. We also noted that all unselected cases were only screened for p.H371Y. The possible involvement of others, potentially disease-related CHEK2 mutations, in these cases cannot be ruled out.  The p.H371Y mutation had never been reported in other populations, and was only previously reported in Chinese women in a relatively small sample size [Chen et al., 2008; Song et al., 2006]. The p.H371Y mutation is nearby the previous deleterious mutation CHEK2 c.1100delC; however, c.1100delC was not detected among the breast cancer cases and healthy individuals (total 2,255 subjects) in the current study, indicating that the CHEK2 c.1100delC mutation is absent or quite infrequent in Chinese women. It is not surprising that the variants of CHEK2 vary among populations [Narod and Lynch, 2007].  Approximately 150,000 new breast cancer cases are diagnosed in China annually [Cao et al., 2010]. Given the huge number of new breast cancer cases in China, the finding that the CHEK2 p.H371Y mutation confers a moderate risk of breast cancer in Chinese women is interesting; it could identify approximately 0.7% Chinese women at modestly increased risk of breast cancer at the population level. As this mutation may exist in other ethnic groups, it would be of great interest to study this mutation in other populations.  Background  Our previous study suggested that the recurrent CHEK2 H371Y mutation is a novel pathogenic mutation that confers an increased risk of breast cancer. The purpose of this study was to investigate whether breast cancer patients with CHEK2 H371Y mutation were more likely to respond to neoadjuvant chemotherapy.  Methods  We screened a cohort of 2334 Chinese women with operable primary breast cancer who received a neoadjuvant chemotherapy regimen for CHEK2 H371Y germline mutations. Pathologic complete response (pCR) was defined as the absence of tumor cells in the breast after the completion of neoadjuvant chemotherapy.  Results  Thirty-nine patients (1.7%) with CHEK2 H371Y germline mutation were identified in this cohort of 2334 patients. CHEK2 H371Y mutation carriers had a significantly higher pCR rate than non-carriers (33.3% versus 19.5%, P\u2009=\u20090.031) in the entire study population, and CHEK2 H371Y mutation-positive status remained an independent favorable predictor of pCR in a multivariate analysis (odds ratio [OR]\u2009=\u20093.01; 95% confidence interval [CI]: 1.34- 6.78, P\u2009=\u20090.008). CHEK2 H371Y carriers had a slightly worse distant recurrence-free survival than non-carriers (adjusted hazard ratio [HR] =1.24, 95% CI: 0.59-2.63).  Conclusions  CHEK2 H371Y mutation carriers are more likely to respond to neoadjuvant chemotherapy than are non-carriers.  Go to: Background CHEK2 (Cell-cycle-checkpoint kinase 2, also known as CHK2) encodes a multifunctional kinase that is activated mainly by the ataxia-telangiectasia mutated (ATM) protein in response to DNA double-strand breaks [1-4]. Activated CHEK2 in turn phosphorylates several critical cell-cycle proteins, including p53, Cdc25 and BRCA1, which trigger cell-cycle arrest, apoptosis, and the activation of DNA repair [5-7].  Numerous studies have demonstrated that CHEK2 is a moderate breast cancer susceptibility gene [8-12]. CHEK2 1100delC, a truncating mutation that abrogates the kinase activity of the protein, confers an approximately 2-fold increase in breast cancer risk [8,13-15]. However, the prevalence of CHEK2 1100delC mutation varies widely among ethnic groups [8,11,16-19]. The mutation is mostly found in the Dutch population [8,20], and it is absent or very rare in other populations [16-19]. We previously screened 2255 Chinese women (1027 breast cancer cases and 1228 healthy controls) for CHEK2 1100delC and failed to find this mutation in this population. However, a novel recurrent CHEK2 mutation near the CHEK2 1100delC mutation, CHEK2 1111C\u2009>\u2009T (H371Y), was found in Chinese women [21]. CHEK2 H371Y is within the activation loop of the CHEK2 protein kinase domain, which is essential for the activation of CHEK2 in response to DNA damage. Functional analysis reveals that the CHEK2 H371Y mutation produces a dramatic decline in CHEK2 activity and is a pathogenic mutation [21]. CHEK2 H371Y confers a 2.43-fold increase in breast cancer risk in Chinese women.  The disruption of CHEK2 kinase activity may not only contribute to breast cancer development but also influence breast cancer survival or response to the adjuvant therapy. Two studies have suggested that the CHEK2 1100delC mutation is associated with poor recurrence-free survival in breast cancer [22,23], indicating that patients with CHEK2 1100delC mutation have an aggressive phenotype.  No previous studies have investigated the association between CHEK2 germline mutation and response to neoadjuvant chemotherapy in breast cancer. Therefore, in the current study, we investigated whether CHEK2 H371Y mutation carriers are more likely to respond to neoadjuvant chemotherapy in terms of pathologic complete response (pCR) in a large cohort of 2334 breast cancer patients who received neoadjuvant chemotherapy and further explored the association between CHEK2 H371Y mutation status and distant recurrence-free survival (DRFS).  Go to: Methods Study population  A total of 2382 operable primary breast cancer patients with stage I-III were treated with neoadjuvant chemotherapy at the Breast Center of Peking University Cancer Hospital from October 2003 to December 2010. The mean age of the subjects was 47.6 years (range, 2275 years). Tumor stage was classified according to the tumor-node-metastasis classification of the Union Internationale Contre le Cancer. Tumor size was defined as the maximum tumor diameter measured on the mammogram and/or ultrasonogram at the time of diagnosis. The tumors were graded according to the modified Bloom-Richardson system. Written consent was obtained from all subjects. This study was approved by the Research and Ethical Committee of Peking University Cancer Hospital.  CHEK2 H371Y germline mutations  Peripheral blood samples were collected from all patients. Genomic DNA was extracted from the leukocyte pellet by proteinase K digestion followed by phenol-chloroform extraction. The CHEK2 H371Y mutation was detected by polymerase chain reaction (PCR) followed by denaturing high-performance liquid chromatography (DHPLC) and sequencing or directed sequencing as described previously [21]. We screened all 2382 patients for the germline CHEK2 H371Y mutation. CHEK2 H371Y status was not readable for 46 patients, and 41 of the 2336 patients were found to carry the mutation. We then screened these 41 CHEK2 H371Y mutation carriers for germline mutations in BRCA1/2; two patients also carried a BRCA2 germline mutation and were excluded from this study. Therefore, 2334 patients, 39 of whom were CHEK2 H371Y carriers, were included in the final analysis in the current study.  Estrogen receptor (ER), progesterone receptor (PR), and HER2 status  ER, PR, and HER2 status were determined in the core-needle biopsy breast cancer tissue obtained before the initiation of neoadjuvant chemotherapy as described previously [24].  Neoadjuvant chemotherapy regimens  Among the 2334 patients who received neoadjuvant chemotherapy, 94% received 48 cycles. Treatments were categorized in three subgroups as follows:  859 patients received an ant

In [223]:
# by hand from the demo  page
test_stage2.loc[0, 'rsid'] = 'RS#:17886242'

In [224]:
test_stage2.head()

,ID,Gene,Variation,Text,rsid
0,1,CHEK2,H371Y,The incidence of breast cancer is increasing i...,RS#:17886242
1,2,AXIN2,Truncating Mutations,An unselected series of 310 colorectal carcino...,RS#:749846538
2,3,WNT4,E216G,Mycosis fungoides and Szary syndrome are prim...,None
3,4,SUCLA2,G118R,Regulated progression through the cell cycle ...,RS#:371769427
4,5,BRAF,T599insTT,Pilocytic astrocytoma (PA) is emerging as a tu...,RS#:113488022

In [225]:
feather.write_dataframe(test_stage2, '../cache/test1_stage2.feather')