In [1]:
import pandas as pd

In [4]:
# Any results you write to the current directory are saved as output.
submission = pd.read_csv('../data/stage2_sample_submission.csv')
stage1_test = pd.read_csv('../data/test_variants')
stage2_test = pd.read_csv('../data/stage2_test_variants.csv')
stage1_solution = pd.read_csv('../data/stage1_solution_filtered.csv')

stage1_solution = stage1_solution.merge(stage1_test, how = 'left', on = 'ID')

stage2_hack = stage2_test.merge(
        stage1_solution.drop('ID', axis = 1), 
        how = 'left', 
        on = ['Gene', 'Variation']).drop(['Gene', 'Variation'], axis = 1).fillna(1)
#         .to_csv('../cache/hack_submission.csv', index = False)

In [6]:
stage2_hack.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   1     0.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0
1   2     1.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2   3     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
3   4     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
4   5     0.0     0.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0

In [7]:
stage1_solution.head()

,ID,class1,class2,class3,class4,class5,class6,class7,class8,class9,Gene,Variation
0,12,1,0,0,0,0,0,0,0,0,TET2,Y1902A
1,19,0,1,0,0,0,0,0,0,0,MTOR,D2512H
2,21,0,1,0,0,0,0,0,0,0,KIT,D52N
3,55,0,0,0,1,0,0,0,0,0,SPOP,F125V
4,64,0,0,0,1,0,0,0,0,0,KEAP1,C23Y

In [8]:
stage2_test.head()

   ID    Gene             Variation
0   1   CHEK2                 H371Y
1   2   AXIN2  Truncating Mutations
2   3    WNT4                 E216G
3   4  SUCLA2                 G118R
4   5    BRAF             T599insTT

In [9]:
stage2_test.shape

(986, 3)

In [10]:
stage1_solution.shape

(368, 12)

In [13]:
len(set(stage2_test.Gene) - set(stage1_solution.Gene))

140

In [20]:
len(set(stage2_test.Variation) - set(stage1_solution.Variation))

617

In [15]:
stage2_test['GV'] = stage2_test['Gene'] + '_' + stage2_test['Variation']

In [16]:
stage1_solution['GV'] = stage1_solution['Gene'] + '_' + stage1_solution['Variation']

In [17]:
len(set(stage2_test.GV) - set(stage1_solution.GV))

619

In [18]:
986-368

618

In [19]:
stage1_test.head()

   ID     Gene Variation
0   0    ACSL4     R570S
1   1    NAGLU     P521L
2   2      PAH     L333F
3   3     ING1     A148D
4   4  TMEM216      G77A

In [32]:
df = pd.concat([stage1_solution,stage1_solution, stage1_solution],axis=0)

In [33]:
df.shape

(1104, 13)

In [34]:
df = df.drop(['ID', 'Gene', 'Variation', 'GV'], axis=1).reset_index(drop=1)

In [35]:
df['ID'] = df.index+1

In [36]:
# df['ID'] = df['ID'] + 1

In [37]:
df = df.head(stage2_test.shape[0])

In [38]:
df.to_csv('../submissions/hack2.csv', index=False)

In [39]:
df.head()

   class1  class2  class3  class4  class5  class6  class7  class8  class9  ID
0       1       0       0       0       0       0       0       0       0   1
1       0       1       0       0       0       0       0       0       0   2
2       0       1       0       0       0       0       0       0       0   3
3       0       0       0       1       0       0       0       0       0   4
4       0       0       0       1       0       0       0       0       0   5

In [43]:
# Any results you write to the current directory are saved as output.
submission = pd.read_csv('../data/stage2_sample_submission.csv')
stage1_test = pd.read_csv('../data/test_variants')
stage2_test = pd.read_csv('../data/stage2_test_variants.csv')
stage1_solution = pd.read_csv('../data/stage1_solution_filtered.csv')

stage1_solution = stage1_solution.merge(stage1_test, how = 'left', on = 'ID')

stage2_hack = stage2_test.merge(
        stage1_solution.drop('ID', axis = 1), 
        how = 'left', 
        on = ['Gene', 'Variation'])\
    .drop(['Gene', 'Variation'], axis = 1)\
    .fillna(0.8)\
    .to_csv('../submissions/hack_submission2.csv', index = False)